*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bgHeader: #8E9AAF;
    --bgMain: #EFF1FF;

    --ffBody: 'Staatliches', sans-serif;

    --fcH2: #4A4E69;
    --fSize-H2: 2rem;

    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--ffBody);
    background: #E5E5E5;;
}

.page{
    max-width: 384px;
    margin: auto;
}

header{
    text-align: center;
    background: var(--bgHeader);
}

header img{
    display: block;
    margin: auto;
    padding: 3.2rem 0;
    transform: rotate(360deg);
    animation: spin 2s linear infinite;
}

header .bg-title{
    padding-bottom: 2.9rem;
}

header p{
    display: none;
}

header h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    background: #CBC0D3;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.05em;
}

main{
    padding: 1.4rem 3.2rem 6rem 3.2rem;
    background: var(--bgMain);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

main aside{
    display: grid;
    gap: 3.2rem;;
}

main p{
    font: 400 1.7rem 'Palanquin', sans-serif;
    line-height: 1.6rem;
    text-align: center;
    color: #23053A;
    margin-bottom: 3.2rem;
}

.cards{
    position: relative;
    animation: downtop 500ms reverse backwards;
}

.cards img{
    width: 100%;
    object-fit: cover;
    border-radius: 1.6rem;
    transition: all 200ms;
}

.cards img:hover{
    transform: scale(1.1);
}

.bigger{
    height: 450px;
}
.short{
    height: 250px;
}

.cards h2{
    font: 600 var(--fSize-H2) 'Staatliches', sans-serif;
    line-height: 3.4rem;
    color: var(--fcH2);
    text-transform: uppercase;
    background: #f8daf2;
    width: 11.2rem;
    border-radius: 2rem;
    letter-spacing: 0.05em;
    padding: 0 2.4rem;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    animation: topdown 700ms;
    transition-delay: 900ms;
}

.desktop-only{
    display: none;
}

footer{
    display: none;
}

/* Animações */

/* Animação do logo */
@keyframes spin{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Animação dos tipos de sorvete */
@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação dos cards com imagens */
@keyframes downtop{
    100%{
        opacity: 0;
        transform: translateY(15px);
    }
}


/* Media queries */

@media(min-width: 1026px){
    .page{
        max-width: 1440px;
        max-height: 900px;
        display: flex;
    }
    
    header {
        max-width: 377px;
    }

    header .bg-title{
        padding-bottom: 0;
    }
    

    header h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4.4rem;
        line-height: 3.4rem;
        height: 7rem;
        
    }
    
    header p{
        display: block;
        font-size: 2.1rem;
        line-height: 2rem;
        padding: 3.3rem 3.5rem 0;
        color: #fff;
    }

    main{
        padding: 6.4rem 8.1rem 12.4rem 9.8rem;
        background: #fff;
        animation: none;
    }

    .cards{
        animation: none;
    }

    .cards h2{
        display: none;
    }

    aside{
        display: grid;
        gap: 3.2rem;
        grid-template-areas: 
        "A B C" 
        "D B F"
        "D E F";
    }

    aside div:nth-child(1){
        grid-area: A;
    }
    aside div:nth-child(2){
        grid-area: B;
    }
    aside div:nth-child(3){
        grid-area: C;
    }
    aside div:nth-child(4){
        grid-area: D;
    }
    aside div:nth-child(5){
        grid-area: E;
    }
    aside div:nth-child(6){
        grid-area: F;
    }

    .desktop-only{
        display: block;
    }

    main .cards h2{
        display: none;
    }

    main p{
        display: none;
    }

    footer{
        display: block;
        text-align: center;
    }

    footer a{
        text-decoration: none;
        font-weight: bold;
        color: #4A4E69;
    }

    /* Animações */

    .an-top{
        animation: topcenter 900ms;
        transition-delay: 900ms;
    }

    .an-bottom{
        animation: bottom-center 900ms;
        transition-delay: 900ms;
    }

    @keyframes topcenter{
        0%{
            opacity: 0;
            transform: translateY(-60px);
        }
    
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes bottom-center{
        0%{
            opacity: 0;
            transform: translateY(60px);
        }
    
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

}